body{
    margin: 0;
    padding: 0;
    background: #fff;
}

.scroll-bg{
    background: rgb(152, 152, 230);
    width: 400px;
    margin: 10% auto;
}

.scroll-div{
    width: 400px;
    background: rgb(42, 42, 95);
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}

.scroll-object{
    color: wheat;
    font-family: cursive;
    font-size: 19px;
}